@use "./../helpers/" as *;

.bg-liquid-glass {
  backdrop-filter: blur(rem(4));
  -webkit-backdrop-filter: blur(rem(4));
  border: rem(1) solid rgba(255, 255, 255, 0.22);
  box-shadow:
    0 rem(18) rem(40) rgba(0, 0, 0, 0.25),
    inset 0 rem(1) 0 rgba(255, 255, 255, 0.35),
    inset 0 rem(-14) rem(28) rgba(0, 0, 0, 0.18);

  outline: rem(1) solid rgba(255, 255, 255, 0.1);
}

@supports not (hanging-punctuation: first) {
  .bg-liquid-glass {
    backdrop-filter: url(#displacementFilter) blur((rem(2)));
  }
}
