@use "../helpers/" as *;

.card {
  padding: rem(32);
  border-radius: var(--border-radius);
  background: var(--color-card-background);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include desktop {
    padding: rem(24);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    column-gap: rem(16);
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: rem(12);
  }

  &__links {
    display: flex;
    column-gap: rem(12);
  }

  &__image {
    position: absolute;
    border-radius: var(--border-radius);
    left: 50%;
    transform: translateX(-50%);

    &--gadget {
      bottom: rem(-90);
      rotate: 4deg;

      @include mobile-s {
        width: 90%;
      }
    }

    &--guii-hero {
      bottom: rem(180);
      rotate: 2.5deg;

      @include desktop {
        bottom: rem(-40);
      }

      @include mobile-s {
        width: 90%;
      }
    }

    &--guii-news {
      bottom: rem(50);
      min-width: rem(460);
      rotate: -4.5deg;

      @include desktop {
        display: none;
      }
    }
  }

  &__text {
    margin-top: auto;
  }
}
