@use "../helpers/" as *;

.header {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(4);

  &__description {
    @include fluid-text(24, 16);

    letter-spacing: -0.02em;
    line-height: 1;
  }
}
