@use "../helpers/" as *;

.header {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
	row-gap: rem(4);
	margin-bottom: rem(40);

  &__description {
    font-size: rem(24);
    letter-spacing: -0.02em;
		line-height: 1;
  }
}
