@use "../helpers/" as *;

.info {
  width: 100%;
  height: 100%;

  &__content {
    display: grid;
    grid-template-columns: rem(420) rem(256) rem(256) rem(310);
    grid-template-rows: rem(256) rem(94) rem(220);
    gap: rem(16);
    grid-template-areas:
      "block-1 block-2 block-3 block-3"
      "block-1 block-4 block-4 block-5"
      "block-1 block-4 block-4 block-6";
    justify-content: center;

    @include desktop {
      grid-template-columns: rem(208) rem(322) rem(196);
      grid-template-rows: rem(208) rem(196) rem(300) rem(300);
      gap: rem(8);
      grid-template-areas:
        "block-2 block-3 block-3"
        "block-6 block-6 block-5"
        "block-4 block-4 block-4"
        "block-1 block-1 block-1";
    }

    @include mobile {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr rem(280) rem(110) rem(190) rem(330) rem(330);
      grid-template-areas:
        "block-2"
        "block-3"
        "block-5"
        "block-6"
        "block-4"
        "block-1";
    }
  }

  @for $i from 1 to 7 {
    &__block {
      width: 100%;

      &:nth-child(#{$i}) {
        grid-area: block-#{$i};
      }
    }
  }
}
