@use "./../helpers/" as *;

.physics {
  padding-top: rem(32);
  border-radius: var(--border-radius);
  background: var(--color-card-background);
  display: flex;
  flex-direction: column;
	position: relative;

	@include desktop {
		 padding: rem(24);
	}

	&__header {
		padding-inline: rem(32);

		@include desktop {
			padding: 0
		}
	}

	&__container {
		position: absolute;
		inset: 0;

		@include desktop {
			position: static;
			margin-top: auto;
		}
	}

  &__list {
    position: relative;
    height: 100%;

		@include desktop {
			display: flex;
			flex-wrap: wrap;
			gap: rem(8)
		}
  }

  &__item {
    position: absolute;
    height: var(--physics-item-height);
    padding-inline: rem(12);
		display: flex;
		align-items: center;
    border-radius: var(--border-radius);
    background: var(--color-light);
    color: var(--color-dark);
    font-weight: 500;
    font-size: rem(16);
    line-height: 1.2;
    letter-spacing: -0.03em;
    cursor: grab;
    user-select: none;

		@include desktop {
			position: static;
		}
  }
}