@use "../helpers/" as *;

.soc1als {
  display: flex;
  justify-content: space-between;

  @include desktop {
    justify-content: start;
    flex-wrap: wrap;
    gap: rem(8);
  }

  @include mobile {
    flex-wrap: nowrap;
  }

  &__card {
    @include square(rem(94));
    @include flex-center(true);

    border-radius: var(--border-radius);
    background: var(--color-card-background);
    padding: rem(27);

    & svg {
      width: 100%;
      height: 100%;
    }

    @include mobile {
      width: 100%;
      height: auto;
    }

    @include hover(false) {
      scale: 1.15;
      transform: rotate(3deg);

      @include desktop {
        scale: 1.05;
        transform: rotate(3deg);
      }
    }

    &:active {
      opacity: 0.6;
    }

    @include desktop {
      &:nth-child(3) {
        flex-grow: 1;
      }
    }

    @include mobile {
      &:nth-child(3) {
        flex-grow: 0;
      }
    }
  }
}
